<!DOCTYPE html>
<html>
<head>
<title>{{ flatpage.title }}</title>
</head>
<body>
    <h2>{{ flatpage.title }}</h2>
    <hr>
    <h3>Наши контакты:</h3>
    {{ flatpage.content }}
    <hr>
    <i>{{ flatpage.content }}</i>
<p>&nbsp; &nbsp; &nbsp;</p>
<p>&nbsp;</p>
<p>&nbsp;</p>
<h2>&nbsp; &nbsp; &nbsp; &nbsp; &nbsp;<em><strong>А.С. Пушкин<img src="https://html5-editor.net/tinymce/plugins/emoticons/img/smiley-wink.gif" alt="wink" width="23" height="23" /></strong></em></h2>
<p>&nbsp;</p>
<p>&nbsp;</p>
<p>&nbsp; У Лукоморья <span style="color: #339966; background-color: #00ff00;">Дуб зелёный</span></p>
<p><span style="color: #ffff00;">З<span style="color: #ff00ff;">Златая цепь</span></span> на <span style="color: #00ff00;">Дубе том</span>,</p>
<p>и днём и ночью кот учёный</p>
<p><strong>всё ходит по цепи кругом</strong></p>
<p><em>налево песнь заводит,</em></p>
<p><strong>направо сказку говорит......</strong></p>
<p>&nbsp;</p>
</body>
